{{"<!-- home -->" | safeHTML }}

<div class="">
  <header>
    <div class="overlay"></div>

    <video playsinline="playsinline" width="1920" height="1080" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/paleblue.fm1.mp4" type="video/mp4">
        <source src="https://poliwatvideos.s3.us-east-2.amazonaws.com/paleblue.fm1.webm" type="video/webm">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1><a href="https://open.spotify.com/artist/7Jn4iPQ4xOje3URpWzD27A?si=LonD5PGSQ5qadWNfQVoyDQ">Listen</a></h1>
          <h2><a href="https://www.youtube.com/channel/UCJ90WzG8RJSMYy_1HudyabQ">Watch</a></h2>
          <h4><a href="/cv">CV</a></h4>
          <h5><a href="/contact">Contact</a></h5>
          <h5><a href="https://beta.poliw.at/">beta.poliw.at</a></h5>
          <h5><a href="https://gamma.poliw.at/">gamma.poliw.at</a></h5>
        </div>
      </div>
    </div>
  </header>
  <h1>Paleblue.fm</h1>
  <h1>Life, the Musical</h1>
  <h1>Wideo Arbund</h1>
  <h2>An Open Source Audio Library</h2>

  <h2>Pale Blue Singles</h2>

  <h2>Paleblue Mixes</h2>

  <h2>Federal Beat Reserve</h2>

  <h2>Humans + Music</h2>

  <h2>Freestyler's Anonymous</h2>

  <h3>Ambient</h3>

  <h3>Humans</h3>

  <h3>SING SONGS</h3>

</div>

{{"<!-- Global Page Section End -->" | safeHTML }}
